__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.hypothesis
.ipynb_checkpoints
*.ipynb
data/
*.csv
*.xlsx
.env
.venv
venv/
ENV/
